# 排除所有文件和文件夹
/*
# 只保留文件夹及其内容
!/pagesCnt
!/pagesCnt/*
!/pagesCreateSplit
!/pagesCreateSplit/*
!/pagesDevice
!/pagesDevice/*
!/pagesGoods
!/pagesGoods/*
!/pagesMall
!/pagesMall/*
!/pagesOldExpo
!/pagesOldExpo/*
!/pagesOrder
!/pagesOrder/*
!/pagesService
!/pagesService/*
!/pagesTuya
!/pagesTuya/*
!/pagesUser
!/pagesUser/*
!/routes
!/routes/*
!/sys
!/sys/*
!/libs
!/libs/*
!/events
!/events/*
