# 排除日志文件夹
# 如果项目生成日志文件，通常不需要上传
/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 排除依赖文件夹
# node_modules 由 package.json 管理，安装时自动生成，不需要上传
/node_modules
.DS_Store
# 排除构建输出目录
# 这个文件夹由 `vite build` 生成，无需上传到 Git
dist

# 排除子包
/src/pagesCnt/
/src/pagesCreateSplit/
/src/pagesDevice/
/src/pagesGoods/
/src/pagesMall/
/src/pagesOldExpo/
/src/pagesOrder/
/src/pagesService/
/src/pagesTuya/
/src/pagesUser/


# 排除公共包跟插件
m-pkgs/

*.local



# 排除 IDE 配置文件（可选）
.idea
.aliyun
.vscode
.hbuilderx
.lh
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
pnpm-lock.yaml
